<!-- views/setup.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Setup Your Account</title>
</head>
<body>
    <h1>Setup Your Account</h1>
    <form action="/setup" method="post">
        <label for="affiliation">Affiliation:</label>
        <input type="text" id="affiliation" name="affiliation" required>
        <button type="submit">Submit</button>
    </form>
    <% if (error) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
</body>
</html>
