<!DOCTYPE html>
<html>
<head>
    <title>User</title>
</head>
<body>
    <h1><%= user.displayName %></h1>
    <div>
      <h2>
        所属しているグループ
      </h2>
      <ul>
        <% (permissions || []).forEach(permission => { %>
          <li>
            <%= permission.group.name %>
          </li>
        <% }) %>
      </ul>
    </div>
</body>
</html>
