<!DOCTYPE html>
<html>
<head>
    <title>User</title>
</head>
<body>
    <h1><%= user.displayName %></h1>
    <p>
      <%= user.id %>
    </p>
    <img src="<%= user.photos[0].value %>">
    <div>
    <table>
      <caption>所属しているグループ</caption>
      <thead></thead>
    </table>
      <ul>
        <% (permissions || []).forEach(permission => { %>
          <li>
            <%= permission.group.name %>
          </li>
        <% }) %>
      </ul>
    </div>
</body>
</html>
