@font-face {
    font-family: "BIZ UDGothic";
    src: url('/BIZUDGothic-Regular.ttf') format('truetype');
}

:root {
  --ui-l: 70%;
  --ui-c: 0.162;
  --padding: 15px;
  --black: #333333;
  --green:oklch(var(--ui-l) var(--ui-c) 140);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BIZ UDGothic", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: var(--black);
}

main{
  max-width: 600px;
  margin: 0 auto;
}

main > *{
  padding:var(--padding);
}

.flex{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

h2,h3 {
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

time {
  margin-left: auto;
}

.meta {
  display: flex;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding:var(--padding);
  border-radius: 5px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.button {
  display:inline-block;
  text-decoration:none;
}

button,.button {
  padding: 10px 15px; /* 上下10px、左右15pxのパディング */
  border-radius: 4px;
  background: var(--green); /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  cursor: pointer;
  border: none; /* ボーダーをなしに */
}

button:hover,.button:hover {
  background: oklch(var(--ui-l) none none);
}

.toggled {
  background: oklch(var(--ui-l) var(--ui-c) -40);
}

.error-message {
  color: red;
  text-align: center;
}

.radio,
.checkbox {
  margin: 10px 0;
}

td{
  text-align:center;
}